@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.home-page .home-page-welcome-title {
  max-width: 40rem;
}
.home-page .home-page-welcome-title h1 {
  font-size: 7rem;
}
.home-page .home-page-welcome-title p {
  font-family: "Montserrat", sans-serif;
  color: #575757;
  font-weight: 600;
  font-size: 2rem;
}
.home-page .home-page-welcome-title .welcome-title {
  color: #90EB78;
}
.home-page .home-page-welcome-title .intro-button {
  cursor: pointer;
  background-color: #90EB78;
  color: white;
  padding: 2rem;
  font-weight: 600;
  border-radius: 25px;
  font-size: 2.5rem;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(144, 245, 120, 0.7);
  transition: 0.7s;
}
.home-page .home-page-welcome-title .intro-button:hover {
  letter-spacing: 3px;
  background-color: white;
  color: #90EB78;
  outline: 3px solid #90EB78;
}
.home-page .circle {
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.home-page .circle img {
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
}
.home-page .circle:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%, rgb(255, 255, 255) 100%);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.home-page .stats-box .stats-unit .icon-box {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 4px solid #bbbaba;
}
.home-page .stats-box .stats-unit .icon-box .icon {
  font-size: 3rem;
  color: #bbbaba;
}
.home-page .stats-box .stats-info p {
  font-size: 2rem;
  font-weight: 500;
  color: #bbbaba;
}
.home-page .stats-box .stats-info h1 {
  font-size: 2.5rem;
  color: #3b3b3b;
}

.main-login-box {
  font-family: "Poppins", sans-serif;
}
.main-login-box .login-form a {
  color: #90EB78;
  font-weight: 600;
}
.main-login-box .login-form .login-form-titles {
  font-family: "Montserrat", sans-serif;
}
.main-login-box .login-form .login-form-titles p {
  font-weight: 500;
  color: gray;
}
.main-login-box .login-form .login-form-titles .custom-err {
  color: red !important;
}
.main-login-box .login-form .form {
  max-width: 50rem;
  width: 100%;
}
.main-login-box .login-form .form label {
  color: #9a9a9a;
  font-weight: 600;
}
.main-login-box .login-form .form .input-box {
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 15px;
  background-color: #efefef;
}
.main-login-box .login-form .form .input-box .err {
  font-size: 1.1rem;
  font-weight: 500;
  color: red;
}
.main-login-box .login-form .form .auth-icon {
  font-size: 2.5rem;
  color: #9a9a9a;
}
.main-login-box .login-form .form .active {
  /* Add your active styles here */
  outline: 1.5px solid #90EB78; /* $accent color */
  box-shadow: 0 0 10px rgba(144, 245, 120, 0.7);
  background-color: transparent !important;
}
.main-login-box .login-form .form .active-label {
  color: #90EB78;
}
.main-login-box .login-form .form input {
  width: 100%;
  background-color: transparent;
  font-weight: 600;
  border: none;
  font-size: 2rem;
}
.main-login-box .login-form .form input:focus {
  outline: none;
}
.main-login-box .login-form .form button {
  cursor: pointer;
  background-color: #90EB78;
  color: white;
  padding: 2rem;
  font-weight: 600;
  border-radius: 25px;
  font-size: 2.5rem;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(144, 245, 120, 0.7);
  transition: 0.7s;
}
.main-login-box .login-form .form button:hover {
  background-color: white;
  color: #90EB78;
  outline: 3px solid #90EB78;
}
.main-login-box .login-navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 6rem;
}
.main-login-box .login-navbar img {
  max-width: 3rem;
}
.main-login-box .login-image-container {
  clip-path: polygon(59% 27%, 40% 15%, 78% 0, 100% 0, 100% 0, 100% 15%, 100% 85%, 100% 100%, 57% 100%, 46% 89%, 32% 68%, 49% 57%);
}

.register-success h1 {
  text-decoration: underline 10px solid #90EB78;
}
.register-success .icon {
  font-size: 5rem;
  color: #90EB78;
}

.main-add-box .add-input-box {
  max-width: 50rem;
  width: 100%;
}
.main-add-box .input-box {
  padding: 0.2rem 0.2rem 0.2rem 1.2rem;
  border-radius: 15px;
  background-color: #efefef;
}
.main-add-box .input-box .err {
  font-size: 1.1rem;
  font-weight: 500;
  color: red;
}
.main-add-box .textarea-input-box {
  padding: 0.2rem 0.2rem 0.2rem 1.2rem;
  border-radius: 15px;
  background-color: #efefef;
}
.main-add-box .textarea-input-box .err {
  font-size: 1.1rem;
  font-weight: 500;
  color: red;
}
.main-add-box .textarea-input-box label {
  padding: 1rem;
}
.main-add-box input {
  width: 100%;
  background-color: transparent;
  font-weight: 600;
  border: none;
  font-size: 2rem;
}
.main-add-box input:focus {
  outline: none;
}
.main-add-box textarea {
  height: 15rem;
  width: 100%;
  background-color: transparent;
  font-weight: 600;
  border: none;
  font-size: 2rem;
}
.main-add-box textarea:focus {
  outline: none;
}
.main-add-box .icon {
  font-size: 2.5rem;
  color: #9a9a9a;
}
.main-add-box .active {
  /* Add your active styles here */
  outline: 1.5px solid #90EB78; /* $accent color */
  box-shadow: 0 0 10px rgba(144, 245, 120, 0.7);
  background-color: transparent !important;
}
.main-add-box .active-label {
  color: #90EB78 !important;
}
.main-add-box .image-section .image-upload-box {
  border-radius: 15px;
  border: 5px dashed #838383;
  border-style: dashed;
  border-width: 2.5px;
  background-color: #efefef;
  width: 50rem;
  height: 28rem;
  transition: 0.5s;
}
.main-add-box .image-section .image-upload-box .icon {
  font-size: 7rem;
  color: #90EB78;
}
.main-add-box .image-section .image-upload-box p {
  font-size: 1.5rem;
  font-weight: 550;
  color: #3b3b3b;
}
.main-add-box .image-section .image-upload-box:hover {
  border: 5px dashed #90EB78;
  border-width: 2.5px;
}
.main-add-box .image-section button {
  font-family: "Montserrat", sans-serif;
  max-width: 20rem;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  color: #90EB78;
  font-weight: 550;
  outline: none;
  border-radius: 25px;
  font-size: 1.5rem;
  border: none;
  transition: 0.7s;
}
.main-add-box .image-section button:hover {
  letter-spacing: 1px;
}
.main-add-box .required {
  color: #ff0000;
}
.main-add-box .subtitle {
  font-size: 3rem;
  font-weight: 500;
  color: #3b3b3b;
}
.main-add-box .required-text {
  font-style: italic;
  font-weight: 400;
  color: #3b3b3b;
}

.header {
  background-color: white;
}
.header .active-nav {
  color: #3b3b3b !important;
  border-radius: 15px;
  background-color: #efefef !important;
}
.header .header-logo {
  font-family: "Montserrat", sans-serif;
}
.header .header-logo img {
  max-width: 3rem;
}
.header .nav-link {
  color: black;
  padding: 5px 15px 5px 15px;
  width: 100%;
  color: #9a9a9a;
}
.header .icon {
  font-size: 2rem;
  font-weight: 500;
}
.header .nav-list {
  padding-left: 2rem;
}
.header .nav-list .vertical-line {
  color: #3b3b3b;
  position: relative;
  padding-left: 2rem; /* Adjust this value to control the space between the line and the paragraph */
}
.header .nav-list .vertical-line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px; /* Adjust this value to control the width of the line */
  height: 100%; /* This will make the line span the full height of the paragraph */
  background-color: #90EB78; /* Change this to the desired color of the line */
}
.header .nav-list .vertical-line-logout {
  color: #3b3b3b;
  position: relative;
  padding-left: 2rem; /* Adjust this value to control the space between the line and the paragraph */
}
.header .nav-list .vertical-line-logout:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px; /* Adjust this value to control the width of the line */
  height: 100%; /* This will make the line span the full height of the paragraph */
  background-color: #90EB78; /* Change this to the desired color of the line */
}
.header .nav-list[data-aos=fade-left] {
  opacity: 0; /* Initially hide the list */
  transform: translateX(-100%); /* Slide it outside the viewport */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add a smooth transition */
}
.header .nav-list[data-aos=fade-left].aos-animate {
  opacity: 1; /* When AOS starts the animation, show the list */
  transform: translateX(0); /* Slide it back to its original position */
}

.blog-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem 2rem;
  grid-template-areas: ". .";
  font-family: "Montserrat", sans-serif;
}

.blog {
  position: relative;
}

.blog-info {
  border-radius: 0rem 0rem 2rem 2rem;
  color: white;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

.accent-color {
  color: #90EB78;
}

.main-button {
  cursor: pointer;
  background-color: #90EB78;
  color: white;
  padding: 2rem;
  font-weight: 600;
  border-radius: 25px;
  font-size: 2.5rem;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(144, 245, 120, 0.7);
  transition: 0.7s;
}
.main-button:hover {
  background-color: white;
  color: #90EB78;
  outline: 3px solid #90EB78;
}

.app {
  background-color: #fdfdfd;
  min-height: 100vh;
}

.main-title {
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Regular styles for the element */
.hidden-mobile {
  display: flex; /* Default display value for the element */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important; /* Hide the element on mobile devices */
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overflow-h {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.t-justify {
  text-align: justify;
}

.t-center {
  text-align: center;
}

.transparent {
  background: transparent;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.bg-none {
  background-color: transparent;
}

.outline-none {
  outline: none;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shadow-light {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shadow-mid {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.shadow-dark {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

.h-v {
  min-height: 100vh;
  width: 100%;
}

.h-100vh {
  min-height: 100vh;
  height: 100%;
}

.mh-100 {
  min-height: 100vh;
}

.h-40 {
  height: 40rem;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-1200 {
  max-width: 1200px;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.flex-b-50 {
  flex-basis: 50%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-b-33 {
  flex-basis: 33.3333333333%;
}

.flex-b-25 {
  flex-basis: 25%;
}

.flex-b-20 {
  flex-basis: 20%;
}

.flex-grow {
  flex-grow: 1;
}

.gap-c-50 {
  gap: 50%;
}

.gap-c-33 {
  gap: 33.3333333333%;
}

.gap-c-25 {
  gap: 25%;
}

.gap-c-20 {
  gap: 20%;
}

.gap-c-10 {
  gap: 10%;
}

.gap05 {
  gap: 0.5rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.gap4 {
  gap: 4rem;
}

.gap5 {
  gap: 5rem;
}

.gap6 {
  gap: 6rem;
}

.gap7 {
  gap: 7rem;
}

.gap8 {
  gap: 8rem;
}

.gap9 {
  gap: 9rem;
}

.gap10 {
  gap: 10rem;
}

.pad0 {
  padding: 0;
}

.pad05 {
  padding: 0.5rem;
}

.pad1 {
  padding: 1rem;
}

.pad15 {
  padding: 1.5rem;
}

.pad2 {
  padding: 2rem;
}

.pad25 {
  padding: 2.5rem;
}

.pad3 {
  padding: 3rem;
}

.pad35 {
  padding: 3.5rem;
}

.pad4 {
  padding: 4rem;
}

.pad45 {
  padding: 4.5rem;
}

.pad5 {
  padding: 5rem;
}

.pad55 {
  padding: 5.5rem;
}

.pad6 {
  padding: 6rem;
}

.pad65 {
  padding: 6.5rem;
}

.pad7 {
  padding: 7rem;
}

.pad75 {
  padding: 7.5rem;
}

.pad8 {
  padding: 8rem;
}

.pad85 {
  padding: 8.5rem;
}

.pad9 {
  padding: 9rem;
}

.pad95 {
  padding: 9.5rem;
}

.pad10 {
  padding: 10rem;
}

.pad105 {
  padding: 10.5rem;
}

.pad0005 {
  padding: 0 0.5rem;
}

.pad0010 {
  padding: 0 1rem;
}

.pad0020 {
  padding: 0 2rem;
}

.pad0030 {
  padding: 0 3rem;
}

.pad0510 {
  padding: 0.5rem 1rem;
}

.pad0520 {
  padding: 0.5rem 2rem;
}

.pad0530 {
  padding: 0.5rem 3rem;
}

.pad0540 {
  padding: 0.5rem 4rem;
}

.pad1020 {
  padding: 1rem 2rem;
}

.pad1030 {
  padding: 1rem 3rem;
}

.pad1040 {
  padding: 1rem 4rem;
}

.pad1050 {
  padding: 1rem 5rem;
}

.pad1060 {
  padding: 1rem 6rem;
}

.pad2030 {
  padding: 2rem 3rem;
}

.pad2040 {
  padding: 2rem 4rem;
}

.pad2050 {
  padding: 2rem 5rem;
}

.pad2060 {
  padding: 2rem 6rem;
}

.pad3010 {
  padding: 3rem 1rem;
}

.pad3020 {
  padding: 3rem 2rem;
}

.pad3040 {
  padding: 3rem 4rem;
}

.pad3050 {
  padding: 3rem 5rem;
}

.pad3060 {
  padding: 3rem 6rem;
}

.marg05 {
  margin: 0.5rem;
}

.marg1 {
  margin: 1rem;
}

.marg2 {
  margin: 2rem;
}

.marg3 {
  margin: 3rem;
}

.marg4 {
  margin: 4rem;
}

.marg5 {
  margin: 5rem;
}

.marg6 {
  margin: 6rem;
}

.marg7 {
  margin: 7rem;
}

.marg8 {
  margin: 8rem;
}

.marg9 {
  margin: 9rem;
}

.marg10 {
  margin: 10rem;
}

.border-none {
  border: none;
}

.border-05-b {
  border: 0.5px solid #000000;
}

.border-1-b {
  border: 1px solid #000000;
}

.border-2-b {
  border: 2px solid #000000;
}

.border-05-w {
  border: 0.5px solid white;
}

.border-1-w {
  border: 1px solid white;
}

.border-2-w {
  border: 2px solid white;
}

.border-r-50 {
  border-radius: 50%;
}

.border-r-05 {
  border-radius: 0.5rem;
}

.border-r-1 {
  border-radius: 1rem;
}

.border-r-2 {
  border-radius: 2rem;
}

.border-r-3 {
  border-radius: 3rem;
}

.font05 {
  font-size: 0.5rem;
}

.font1 {
  font-size: 1rem;
}

.font125 {
  font-size: 1.125rem;
}

.font15 {
  font-size: 1.5rem;
}

.font175 {
  font-size: 1.75rem;
}

.font2 {
  font-size: 2rem;
}

.font2125 {
  font-size: 2.125rem;
}

.font25 {
  font-size: 2.5rem;
}

.font275 {
  font-size: 2.75rem;
}

.font3 {
  font-size: 3rem;
}

.font3125 {
  font-size: 3.125rem;
}

.font35 {
  font-size: 3.5rem;
}

.font375 {
  font-size: 3.75rem;
}

.font4 {
  font-size: 4rem;
}

.font4125 {
  font-size: 4.125rem;
}

.font45 {
  font-size: 4.5rem;
}

.font475 {
  font-size: 4.75rem;
}

.font5 {
  font-size: 5rem;
}

.t-black {
  color: #000000;
}

.t-white {
  color: white;
}

/*# sourceMappingURL=App.css.map */
