@import "../assets/variables";
#single-blog-page{
  display: flex;
  justify-content: center;
  .blog-icon{
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    img{
      max-width: 4rem;
    }
  }
  .saved-blog{
    background-color: $accent;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    &:hover{
      background-color: $accent-hover;
    }
    .icon{
      font-size: 2rem;
      color: white;
    }
  }
  .save-blog{
    background-color: $accent;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    &:hover{
      background-color: $accent-hover;
    }
  }
  .blog-text-section{
    flex:1;
    height: 100%;
    .text-box {
      .blog-title {
        text-decoration: underline 7px solid $accent;
      }

      .blog-description {
        font-size: 2rem;
        max-height: 70rem;
        overflow-y: scroll;
      }
    }
  }
  .blog-image-section{
    flex:1;
    height: 100%;
    .image-box{
      max-width: 1000px;
      img{
        border-radius: 25px;
        max-height: 400px;

      }
    }
  }
  .blog-info-section{
    position: sticky;
    margin-left: 20px;
    .info-unit{
      .blog-info-icon{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border:4px solid #bbbaba;
        .icon{
          font-size: 3.5rem;
          color: $accent;
        }
      }
      .blog-author{
        img{
          width: 60px;
          height: 60px;
          border-radius: 50px;
        }
      }
    }
  }
  .comment-section{
    .add-comment-box{
      .input-box{
        padding: 0.2rem 0.2rem 0.2rem 1.2rem;
        min-width: 20rem;
        border-radius: 15px;
        background-color: transparent;
        border: 1.5px solid $accent;
        .err{
          font-size: 1.1rem;
          font-weight: 500;
          color: red;
        }
        label{
          font-weight: 600;
        }
        input{
          width: 100%;
          background-color: transparent;
          font-weight: 600;
          border: none;
          font-size: 1.5rem;
          &:focus{
            outline:none;
          }
        }
        .icon{
          cursor: pointer;
          margin-top: 3px;
          font-size: 3rem;
          color: $accent;
          &:hover{
            color: $accent-hover;
          }
        }
      }
      button{
        font-size: 2rem;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: $accent;
        outline: 0.3px solid $accent;
        color: white;
        padding: 0.2rem 1rem 0.2rem 1rem;
        &:hover{
          color: black;
          outline: 0.3px solid black;
        }
      }
    }
    .comment-list{
      max-height: 25rem;
      overflow-y: scroll;
      .unit{
        *{
          margin: 0;
          padding: 0;
        }
        p{
          font-size: 1.5rem;
        }
        h1{
          font-size: 1.5rem;
        }
        .image-box{
          height: 5rem;
          width: 5.5rem;
          img{
            border-radius: 25px;
          }
        }
      }
    }
  }
}
