@import "../assets/variables";
.password-reset-box{
  .success-text{
    max-width: 40rem;
    text-align: center;
    font-family: $font-montserrat;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
    color: $p-tag-color;
  }
  button{
    min-width: 30rem;
    font-size: 2rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    background-color: $accent;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 15px;
    outline: 2px solid white;
    &:hover{
      background-color: white;
      color: $accent;
      outline: 2px solid $accent;
    }
  }
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .input-box{
    min-width: 30rem;
    padding: 0.2rem 0.2rem 0.2rem 1.2rem;
    border-radius: 15px;
    background-color: $input-bg;
    .err{
      font-size: 1.1rem;
      font-weight: 500;
      color: red;
    }
  }
  img{
    max-width: 2rem;
  }
  input{
    width: 100%;
    background-color: transparent;
    font-weight: 600;
    border: none;
    font-size: 2rem;
    &:focus{
      outline:none;
    }
  }
}