@import "../assets/variables";
.main-settings-box {
  .profile-box {
    .input-box{
      padding: 0.2rem 0.2rem 0.2rem 1.2rem;
      border-radius: 15px;
      background-color: $input-bg;
      .err{
        font-size: 1.1rem;
        font-weight: 500;
        color: red;
      }
      .accent-input{
        height:5rem;
      }
      input{
        width: 100%;
        background-color: transparent;
        font-weight: 520;
        border: none;
        font-size: 2rem;
        &:focus{
          outline:none;
        }
      }
    }

    .profile-img {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .profile-info{
      h1{
        font-family: $font-montserrat;
        font-weight: 500;
        color: $p-tag-color;
      }
      p{
        font-family: $font-montserrat;
        font-weight: 500;
        color:$icon-gray;
        font-style: italic;
      }
    }
  }
  .active {
    /* Add your active styles here */
    outline: 1.5px solid $accent; /* $accent color */
    //box-shadow: 0 0 10px $box-shadow-input;
    background-color: transparent !important;
  }
  .active-label{
    font-style: italic;
    color: $accent !important;
  }
}