//Import
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
//Colors
:root {
  --accent: #90EB78;
  --accent-shadow: rgba(144, 245, 120, 0.7);
}

$accent: var(--accent);
$accent-hover: #75cc5e;
$gray-border:#838383;
$p-tag-color:#575757;
$gray-label:#9a9a9a;
$input-bg:#efefef;
$icon-gray:#9a9a9a;
$box-shadow-input: var(--accent-shadow);
$gray:#fdfdfd;
//FONTS
//#90EB78
//rgba(144, 245, 120, 0.7)
//#fdfdfd
$main-title: 'Dancing Script', cursive;
$font-cabin: 'Cabin', sans-serif;
$font-montserrat:'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
